<div class="container mx-auto mt-5">

<h1>{{ title }}</h1>

<!-- Template Variable -->
<p>{{ postArray }}</p>
<ul>
  <li>{{ postArray[0] }}</li>
  <li>{{ postArray[1] }}</li>
  <li>{{ postArray[2] }}</li>
  <li>{{ postArray[3] }}</li>
  <li>{{ postArray[4] }}</li>
</ul>
Fetched using ngFor directive
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>
<button (click)="addNew()">Add new</button>
Fetched using object Array
<div *ngIf="postObject.length > 0; else noData">
  <ul>
    <li *ngFor="let post of postObject; let i = index" class="item">
      {{ post.postTitle }}
      <button (click)="onDelete(i)">Delete item</button>
    </li>
  </ul>
</div>
<ng-template #noData>
  <p>There are no posts to show</p>
</ng-template>

<div>
  <button (click)="onClick('step 1')">Step 1</button>
  <button (click)="onClick('step 2')">Step 2</button>
  <button (click)="onClick('step 3')">Step 3</button>
</div>

<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'step 2'">Step 2 Form</div>
  <div *ngSwitchCase="'step 3'">Step 3 Form</div>
  <div *ngSwitchDefault>Something else</div>
</div>

<h1
  [style.color]="isActive ? 'red' : 'black'"
  [style.textTransform]="isActive ? 'uppercase' : 'lowercase'"
>
  Angular style directive
</h1>

<h1
  [ngStyle]="{
    color: isActive ? 'red' : 'black',
    textTransform: isActive ? 'uppercase' : 'lowercase'
  }"
>
  Angular style directive
</h1>

class binding
<h1 [class.main]="isActive" [class.text-transform]="isActive">class binding</h1>

<h1
  [ngClass]="{
    'main' : isActive,
    'text-transform' : !isActive
  }"
>
  ngClass Directive
</h1>


<div class="task2-form">
    <h1>User Details</h1>
    <input type="text" [(ngModel)]="name" placeholder="name"> 
    <input type="text" [(ngModel)]="email" placeholder="email">
    <textarea [(ngModel)]="address" name="" id="" cols="30" rows="10" placeholder="Address"></textarea>
    <button (click)="onSave()">Save Data</button>

    <div *ngIf="userArray.length > 0, else noUser">
        <table class="centered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name:</th>
                    <th>Email:</th>
                    <th>Address:</th>
                    <th>Action:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userArray, let i = index">
                    <td>{{ i }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td><button (click)="delete(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noUser>
        <p>No user data available</p>
    </ng-template>
</div>

<!-- Angular Pipes -->
<!-- upper/lowercase pipe -->
<h1>{{ pipeTitle | lowercase }}</h1>
<!-- number pipe -->
<h1>{{ pipeNumber | number }}</h1>
<!-- decimal pipe -->
<h1>{{ pipeDCNumber | number: '1.2-2' }}</h1>
<!-- curreny pipe -->
<h1>{{ pipePrice | currency: 'USD': false : '2.1-1' }}</h1>
<!-- date pipe -->
<h1>{{ pipeDate | date : 'shortDate'}}</h1>
<!-- json pipe -->
<h1>{{ pipePost | json }}</h1>
<!-- percent pipe -->
<h1>{{ 0.550 | percent : '1.1-1'}}</h1>
<!-- slice pipe -->
<h3>{{ pipeArray | slice : 2 : 4 }}</h3>
<!--custom pipe -->
<h3>{{ pipeUserDetails.city | appendCLI }}</h3>
<!-- Custom pipe with args -->
<h3>{{ pipeText | summary : 30 }}</h3>
<h3>Post Component</h3>
<app-post></app-post>
<h3>Post List Component</h3>
<app-post-list></app-post-list>

    <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <label> First name:</label>
            <input 
                type="text" 
                placeholder="Full Name" 
                class="form-control" 
                name="fullName" 
                ngModel
                #fullName="ngModel" 
                (change)="getValue(fullName)"
                required
                [ngClass]="{'is-invalid' : fullName.touched && fullName.invalid}"
                minlength="5"
                maxlength="10"
            >
        </div>
        <div *ngIf="fullName.errors?.required">
            <div *ngIf="fullName.touched && fullName.invalid" class="alert alert-danger">
                Full Name is required
            </div>
        </div>
        <div *ngIf="fullName.errors?.minlength">
            <div *ngIf="fullName.touched && fullName.invalid" class="alert alert-danger">
                Full name must be atleast 5 characters
            </div>
        </div>
        
        <div class="form-group">
            <label> Email:</label>
            <input 
                type="email" 
                placeholder="Email Address" 
                class="form-control" 
                name="email" 
                ngModel 
                [ngClass]="{'is-invalid' : emailName.touched && emailName.invalid}"
                #emailName="ngModel"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                required
            >
            <div *ngIf="emailName.errors?.required">
                <div *ngIf="emailName.touched && emailName.invalid" class="alert alert-danger">
                    Email is required
                </div>
            </div>
            <div *ngIf="emailName.errors?.pattern">
                <div *ngIf="emailName.touched && emailName.invalid" class="alert alert-danger">
                    Email is invalid
                </div>
            </div>
        </div>
        <div class="form-group">
            <label> Address: </label>
            <textarea name="address" 
                cols="30" 
                rows="10" 
                placeholder="Address" 
                class="form-control" 
                name="address" 
                ngModel
                [ngClass]="{'is-invalid' : addressName.touched && addressName.invalid}"
                #addressName="ngModel"
                required
                >
            </textarea>
            <div *ngIf="addressName.errors?.required">
                <div *ngIf="addressName.touched && addressName.invalid" class="alert alert-danger">
                    Address is required
                </div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
    </form> -->
    <h1>Reactive Form</h1>
    <form [formGroup]="form">
        <div class="form-group">
            <label> Full name:</label>
            <input 
                type="text" 
                placeholder="Full Name" 
                class="form-control" 
                name="fullName" 
                formControlName="fullName"
                (change)="fullnameonChnage(fullName)"
            >
            <div *ngIf="fullName.touched && fullName.invalid" class="alert alert-danger">
                <div *ngIf="fullName.errors?.required">Full Name is required</div>
                <div *ngIf="fullName.errors?.minlength">Full name must be atleast 5 characters expected</div>
            </div>
        </div>
        
        <div class="form-group">
            <label> Email:</label>
            <input 
                type="email" 
                placeholder="Email Address" 
                class="form-control" 
                name="email" 
                formControlName="emailName"
            >
        </div>
        <div class="form-group">
            <label> Address: </label>
            <textarea name="address" 
                cols="30" 
                rows="10" 
                placeholder="Address" 
                class="form-control" 
                name="address" 
                formControlName="addressName"
            >
            </textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>